{{#if updateArticleForm}}
<div class="">
  <form class="" action="index.html" method="post">
    <label for="">Title:</label>
    {{input value=title id="title" placeholder=article.title}}
    <label for="">Author:</label>
    {{input value=author id="author" placeholder="article.author"}}
    <label for="">Image:</label>
    {{input value=image id="image" placeholder=article.image}}
    <label for="">Text:</label>
    {{input value=text id="text" placeholder="article.text"}}
    <button {{action 'updateArticle' article}}>Save</button>
  </form>
</div>
{{else}}
  <button {{action 'showUpdateArticleForm'}}></button>
{{/if}}
